
{% extends 'base.html' %}

{% block content %}
<main class="projects">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>ADMIN  <span>Add Courses</span></h2>
      </div>
 

        <a href="{% url 'addcourse' %}"><input class="btn btn--sub btn--lg" type="submit"  value="Add Course" /></a>
         <!--<button>ton> input class="btn btn--sub btn--lg" ><a href="{% url 'addcourse' %}"> Add course </a> </button> -->
        </form>
      </div>
    </div>
  </section>


  <section class="coursesList">
    <div class="container">
      <div class="grid grid--three">
      {% for course in courses %}
        <div class="column">
          <div class="card project">
            <a href="" class="project">
              <!--<img class="project__thumbnail" src="" alt="project thumbnail" />--> 
              <div class="card__body">
                <h3 class="project__title">{{course.coursename}}</h3>
                <p><a class="project__author" href="">{{course.coursedescription}}<!--By Dennis Ivanov --></a></p>
                <p class="project--rating">
                  <span style="font-weight: bold;"><a href={% url 'editcourse' course.courseid %}> Edit &emsp; <!--{{course.coursename}}%--></span> 
                  <span style="font-weight: bold;"><a href={% url 'deletecourse' course.courseid %}> Delete<!--{{course.coursename}}%--></span>

                </p>

              </div>
            </a>
          </div>
        </div>
      {% endfor %}

        

      </div>
    </div>
  </section>

</main>

{% endblock content %}