{% extends 'base.html' %}

{% block content %}










  <section class="coursesList">
    <div class="container">
      <div class="grid grid--three">
        {% for student in students %}
        <div class="column">
          <div class="card project">
            <a href="" class="project">
              <!--<img class="project__thumbnail" src="" alt="project thumbnail" />--> 
              <div class="card__body">
                <h3 class="project__title">{{student.studentfirstname}}</h3>
                <p><a class="project__author" href="">{{student.studentlastname}}<!--By Dennis Ivanov --></a></p>
                <p><a class="project__author" href="">{{student.studentphonenumber}}<!--By Dennis Ivanov --></a></p>
                <p><a class="project__author" href="">{{student.studentemailid}}<!--By Dennis Ivanov --></a></p>
                <p class="project--rating">
                
                </p>

              </div>
            </a>
          </div>
        </div>
      {% endfor %}

        

      </div>
    </div>
  </section>

</main>

{% endblock content %}

